html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
 /* background start*/
 .faint-background {
    position: relative;
    background-image: url('../img/vecteezy_lord-ram-written-in-red-background-ram-text-textile_19619363.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /* Ensures it covers the entire height of the viewport */
    width: 100%; /* Ensures it covers the full width of the viewport */
}

.faint-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.568); /* Adjust the color and transparency */
    z-index: 1;
}

.faint-background .content {
    position: relative;
    z-index: 2;
}

/* background end*/